* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html body {
	background-color: hsl(0, 0%, 100%);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	font-family: 'Spartan', sans-serif;
}

#backgrounds {
	height: 100vh;
	overflow: hidden;
	/*width: 1000px;*/
}

.bgtop {
	width: 400px;
}

.bgbtm {
	margin-top: -200px;
	margin-left: 250px;
	width: 770px;
}

#container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
}


header {
	display: flex;
}

.h1 {
	width: 300px;
	margin-right: 130px;
	margin-left: -60px;
}

.h1 > h3 {
	font-size: 28px;
	font-weight: 700;
	width: 230px;
	color: hsl(300, 43%, 22%);
}

.h1 > p {
	font-size: 12px;
	font-weight: 500;
	width: 280px;
	color: hsl(303, 10%, 53%);
	margin-top: 5px;
}

.ratings {
	margin-top: 40px;
}

.stars > img {
	width: 10px;
}

.reviews {
	display: flex;
	background-color: hsl(300, 24%, 96%);
	height: 30px;
	width: 250px;
	padding: 7px;
	padding-left: 20px;
	border-radius: 6px;
}

.reviews > h5 {
	font-size: 8px;
	font-weight: 700;
	margin-left: 20px;
	margin-top: 3px;
	color: hsl(300, 43%, 22%);
}

.reviews:nth-child(2) {
	margin-left: 23px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.reviews:nth-child(3) {
	margin-left: 46px;
}

#section1 {
	display: flex;
	margin-top: 50px;
	justify-content: space-around;
}

.container1 {
	background-color: hsl(300, 43%, 22%);
	color: #ffffff;
	width: 230px;
	border-radius: 10px;
	height: 170px;
	margin: 10px;
}

.colton {
	display: flex;
	margin: 20px;
}

.colton > img {
	border-radius: 50%;
	width: 40px;
}

.colton > div {
	margin-left: 15px;
	margin-top: 4px;
}

.colton > div > p {
	color: hsl(333, 80%, 67%);
	font-size: 10px;
}

.container1 > p {
	margin: 24px;
	font-size: 10px;
	width: 200px;
	color: hsl(300, 24%, 96%);
	padding-right: 5px;
}

.container1:nth-child(2) {
	margin-top: 20px;
}

.container1:nth-child(3) {
	margin-top: 30px;
}

/*media queries*/
@media only screen and (max-width: 375px) {
	#backgrounds {
		height: auto;
		/*overflow: hidden;*/
		/*width: 1000px;*/
	}

	.bgtop {
		width: 200px;
	}

	.bgbtm {
		margin-top: 300px;
		margin-left: 10px;
		width: 300px;
		height: 600px;
	}



	header {
		display: block;
	}

	.h1 {
		margin: 0 auto;
		width: 50px;
		margin-top: 130px;
		margin-left: 230px;
		text-align: center;
	}

	.h1 > h3 {
		font-size: 20px;
		width: 130px;
	}

	.h1 > p {
		font-size: 12px;
		width: 250px;
		color: hsl(303, 10%, 53%);
		margin-top: 5px;
		margin-left: -60px;
	}

	.ratings {
		margin-left: 130px;
	}

	.reviews {
		display: block;
		padding: 1px;
		padding-left: 1px;
		height: 41px;
		text-align: center;
	}

	.reviews > h5 {
		font-size: 10px;
		margin-left: 1px;
		margin-top: 1px;
		color: hsl(300, 43%, 22%);
	}

	.reviews:nth-child(2) {
		margin-left: 46px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.reviews:nth-child(1) {
		margin-left: 46px;
	}

	#section1 {
		display: block;
		margin-left: 170px;
	}

	.colton > div {
		margin-left: 15px;
		margin-top: 15px;
	}

	.colton > img {
		border-radius: 50%;
		width: 40px;
		margin-top: 15px;
	}

	#container {
		margin-top: 200px;
	}

}